
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.config.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.manifest
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.ico.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/EngineIoClientDotNet.dll.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/Newtonsoft.Json.dll.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/SocketIoClientDotNet.dll.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_3/WebSocket4Net.dll.deploy
DACEConnector/bin/Debug/app.publish/DACEConnector.application
DACEConnector/bin/Debug/app.publish/DACEConnector.exe
DACEConnector/bin/Debug/app.publish/setup.exe
DACEConnector/bin/Debug/DACEConnector.application
DACEConnector/bin/Debug/DACEConnector.exe
DACEConnector/bin/Debug/DACEConnector.exe.config
DACEConnector/bin/Debug/DACEConnector.exe.manifest
DACEConnector/bin/Debug/DACEConnector.pdb
DACEConnector/bin/Debug/EngineIoClientDotNet.dll
DACEConnector/bin/Debug/Newtonsoft.Json.dll
DACEConnector/bin/Debug/Newtonsoft.Json.xml
DACEConnector/bin/Debug/SocketIoClientDotNet.dll
DACEConnector/bin/Debug/WebSocket4Net.dll
DACEConnector/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
DACEConnector/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
DACEConnector/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
DACEConnector/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DACEConnector/obj/Debug/DACEConnector.application
DACEConnector/obj/Debug/DACEConnector.csproj.AssemblyReference.cache
DACEConnector/obj/Debug/DACEConnector.csproj.CopyComplete
DACEConnector/obj/Debug/DACEConnector.csproj.CoreCompileInputs.cache
DACEConnector/obj/Debug/DACEConnector.csproj.FileListAbsolute.txt
DACEConnector/obj/Debug/DACEConnector.csproj.GenerateResource.cache
DACEConnector/obj/Debug/DACEConnector.exe
DACEConnector/obj/Debug/DACEConnector.exe.manifest
DACEConnector/obj/Debug/DACEConnector.Form1.resources
DACEConnector/obj/Debug/DACEConnector.FormBrowser.resources
DACEConnector/obj/Debug/DACEConnector.pdb
DACEConnector/obj/Debug/DACEConnector.Properties.Resources.resources
DACEConnector/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DACEConnector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DACEConnector/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.application
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.config.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.exe.manifest
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/DACEConnector.ico.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/EngineIoClientDotNet.dll.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/Newtonsoft.Json.dll.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/SocketIoClientDotNet.dll.deploy
DACEConnector/publish/Application Files/DACEConnector_1_0_0_3/WebSocket4Net.dll.deploy
DACEConnector/publish/DACEConnector.application
DACEConnector/publish/setup.exe
DACEConnector/publish.zip
DACEConnector/Secret.cs
*.deploy
DACEConnector/bin/Debug/app.publish/Application Files/DACEConnector_1_0_0_4/DACEConnector.exe.manifest
DACEConnector/publish/Application Files/DACEConnector_1_0_0_4/DACEConnector.exe.manifest
DACEConnector/publish/Application Files/DACEConnector_1_0_0_4/DACEConnector.application
